<h1>About Bloccit</h1>
<p>Created by: Adrian Knoblauch</p>

<%= link_to "Follow me on Facebook", "https://www.facebook.com/adrianknoblauch", class: "social-btn" %>
<%= link_to "Follow me on Twitter", "https://twitter.com/AdrianKnoblauch", class: "social-btn" %>
